{% extends 'search_app/base.html' %}
{% block title %}Vulners - Search{% endblock title %}
{% block query_vendor %}{{ query_vendor }}{% endblock query_vendor %}
{% block query_type %}{{ query_type }}{% endblock query_type %}

{% block content %}
    <form action="{{ request.get_full_path }}" method="post">
        {% if elements %}
            <div>
                {% for element in elements %}
                    <div class="card" style="margin-bottom: 20px">
                        <div class="card-body">
                            {% if element.id in saved %}
                                <div class="alert alert-success" role="alert">
                                    You saved this item to your save-list
                                </div>
                            {% else %}
                                <input name="object_id" type="checkbox" style="transform: scale(1.5);"
                                       value="{{ element.id }}">
                            {% endif %}
                            <h5 class="card-title">{{ element.title }}</h5>
                            <p class="card-text">Type: {{ element.bulletinFamily }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            {{ element.description }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Nothing fond.</p>
        {% endif %}
        <nav class="navbar fixed-bottom navbar-light bg-dark">
            {% url 'search_app:saved' as saved_page_url %}
            {% if saved_page_url ==  request.get_full_path %}
                <button class="btn btn-danger" type="submit">Delete</button>
            {% else %}
                <button class="btn btn-primary" type="submit">Save</button>
            {% endif %}
        </nav>
        {% csrf_token %}
    </form>
{% endblock content %}